.App-header {
  background-color: var(--blue-background);
  min-height: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.75em;
  border-bottom: solid var(--blue-border) 1px;
  margin-bottom: 52px;
  h1 {
    color: var(--blue-title);
    font-weight: 300;
    margin: 25px 0px 25px 0px;
  }
}
