:root {
  --blue-background: #136193;
  --blue-hard-title: #116193;
  --blue-border: #8fb5cc;
  --blue-title: #00e8e4;
  --blue-soft: #79edeb;
  --gray-medium: #E6E6E6;
  --gray-soft: #F2F2F2;
  --gray-hard: #555555;
}